{% extends "base.html" %}

{% block content %}

    <h1>Próximos ceses</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombres y apellido</th>
            <th scope="col">Fecha de cese</th>
        </tr>
        </thead>
        <tbody>
        {% for persona in l_prox_ceses %}
        <tr>
            <td>{{ persona.codigo }}</td>
            <td>{{ persona.nombres + ' ' + persona.apellido_paterno + ' ' + persona.apellido_materno }}</td>
            <td>{{ persona.Informacion.fecha_fin.strftime('%d/%m/%Y') }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}